# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/uploads/*
backend/models/__pycache__/*
backend/services/__pycache__/*
backend/files/*
backend/app.log
backend/dist/*.whl
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/s3/terraform.tfstate
terraform/s3/terraform.tfstate.backup
terraform/.terraform/*
terraform/s3/.terraform/*
*.tfplan
terraform/terraform.tfstate.backup
terraform/pdfdocintel-ec2-key
terraform/pdfdocintel-ec2-key.pub
keypairs/*.pem
keypairs/pdfdocintel-ec2-key
.gitignore
keypairs/pdfdocintel-ec2-key.pub
terraform/*.tfplan
ansible/terraform.tfstate
backend/logs/app.log
backend/logs/access.log
.env
.env.prod
.prod.env
